.super_container
    header.header.d-flex.flex-row
        .header_content.d-flex.flex-row.align-items-center
            .logo_container
                .logo
                    img(src='/public/images/logo.png', alt='')
                    span HourGlass

            nav.main_nav_container
                .main_nav
                    ul.main_nav_list
                        li.main_nav_item
                            a(href='/') Relojes
                        li.main_nav_item
                            a(href='/profile') Perfil
                        li.main_nav_item
                            a(href='/contactenos') Contactenos
                        li.main_nav_item
                            a(href='acercade') About us
                        li.main_nav_item
                            a(href='/Signin') Sign in
                        li.main_nav_item
                            a(href='/logout') Log Out
                        li.main_nav_item
                            a(href='') 


    .menu_container.menu_mm
        .menu_close_container
            .menu_close

        .menu_inner.menu_mm
            .menu.menu_mm
                ul.menu_list.menu_mm
                    li.menu_item.menu_mm
                        a(href='/') Home
                    li.menu_item.menu_mm
                        a(href='#') About us
                    li.menu_item.menu_mm
                        a(href='courses.html') Courses
                    li.menu_item.menu_mm
                        a(href='elements.html') Elements
                    li.menu_item.menu_mm
                        a(href='news.html') News
                    li.menu_item.menu_mm
                        a(href='contact.html') Contact

            .menu_social_container.menu_mm
                ul.menu_social.menu_mm
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-pinterest
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-linkedin-in
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-instagram
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-facebook-f
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-twitter
            .menu_copyright.menu_mm Colorlib All rights reserved
