extends base.pug

block  contenido

    doctype html
    //
        Transit by TEMPLATED
        templated.co @templatedco
        Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    head
        meta(charset='UTF-8')
        title Transit by TEMPLATED
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='description', content='')
        meta(name='keywords', content='')
        //if lte IE 8
            script(src='js/html5shiv.js')
        script(src='/public/vendors/js/html5shiv.js')
        
        noscript
            link(rel='stylesheet', href='/public/vendors/css/skel.css')
            link(rel='stylesheet', href='/public/vendors/css/style.css')
            link(rel='stylesheet', href='/public/vendors/css/style-xlarge.css')
    // Two
    section#two.wrapper.style2.special
        .container
            header.major
                h2 Lorem ipsum dolor sit
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.
            section.profiles
                .row
                    section.3u.profile(class='6u(medium) 12u$(xsmall)')
                        img(src='images/profile_placeholder.gif', alt='')
                        h4 Lorem ipsum
                        p Lorem ipsum dolor
                    section.3u.profile(class='6u$(medium) 12u$(xsmall)')
                        img(src='images/profile_placeholder.gif', alt='')
                        h4 Voluptatem dolores
                        p Ullam nihil repudi
                    section.3u.profile(class='6u(medium) 12u$(xsmall)')
                        img(src='images/profile_placeholder.gif', alt='')
                        h4 Doloremque quo
                        p Harum corrupti quia
                    section.profile(class='3u$ 6u$(medium) 12u$(xsmall)')
                        img(src='images/profile_placeholder.gif', alt='')
                        h4 Voluptatem dicta
                        p Et natus sapiente
            footer
                p
                ul.actions
                    li
                        a.button.big(href='#') Lorem ipsum dolor sit