extends base.pug

block contenido
    
    doctype html
    head
        meta(charset='UTF-8')
        meta(name='description', content='')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
        // Title
        title HourGlass
        // Favicon
        link(rel='icon', href='/public/vendors/img/core-img/favicon.ico')
        // Core Style CSS
        link(rel='stylesheet', href='/public/vendors/css/core-style.css')
        link(rel='stylesheet', href='style.css')
    // ##### Header Area Start #####
    header.header_area
    p 
    p 
    p
    p 
    p
    p 
    p 
    p 
    p 
    p
    p 
    p
    p
    p


    <!DOCTYPE html>

    head
        title Contact V5
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // ===============================================================================================
        link(rel='icon', type='image/png', href='/public/images/icons/favicon.ico')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/vendor/bootstrap/css/bootstrap.min.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/fonts/iconic/css/material-design-iconic-font.min.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/vendor/animate/animate.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/vendor/css-hamburgers/hamburgers.min.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/vendor/animsition/css/animsition.min.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/vendor/select2/select2.min.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/vendor/daterangepicker/daterangepicker.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/vendor/noui/nouislider.min.css')
        // ===============================================================================================
        link(rel='stylesheet', type='text/css', href='/public/css/util.css')
        link(rel='stylesheet', type='text/css', href='/public/css/main.css')
        // ===============================================================================================
    .container-contact100
        .wrap-contact100
            form.contact100-form.validate-form
                span.contact100-form-title
                .wrap-input100.validate-input.bg1(data-validate='Please Type Your Name')
                    span.label-input100 FULL NAME *
                    input.input100(type='text', name='name', placeholder='Enter Your Name')
                .wrap-input100.validate-input.bg1.rs1-wrap-input100(data-validate='Enter Your Email (e@a.x)')
                    span.label-input100 Email *
                    input.input100(type='text', name='email', placeholder='Enter Your Email ')
                .wrap-input100.bg1.rs1-wrap-input100
                    span.label-input100 Phone
                    input.input100(type='text', name='phone', placeholder='Enter Number Phone')
                .wrap-input100.input100-select.bg1
                    span.label-input100 Needed Services *
                    div
                        select.js-select2(name='service')
                            option Please chooses
                            option eCommerce Bussiness
                            option Logistic Services
                            option Online Services
                        .dropDownSelect2
                .w-full.dis-none.js-show-service
                    .wrap-contact100-form-radio
                        span.label-input100 What type of products do you sell?
                        .contact100-form-radio.m-t-15
                            input#radio1.input-radio100(type='radio', name='type-product', value='physical', checked='checked')
                            label.label-radio100(for='radio1')
                        .contact100-form-radio
                            input#radio2.input-radio100(type='radio', name='type-product', value='digital')
                            label.label-radio100(for='radio2')
                        .contact100-form-radio
                            input#radio3.input-radio100(type='radio', name='type-product', value='service')
                            label.label-radio100(for='radio3')
                    .wrap-contact100-form-range
                        span.label-input100 Budget *
                        .contact100-form-range-value
                            span#value-lower 610
                            span#value-upper 980
                            input(type='text', name='from-value')
                            input(type='text', name='to-value')
                        .contact100-form-range-bar
                            #filter-bar
                .wrap-input100.validate-input.bg0.rs1-alert-validate(data-validate='Please Type Your Message')
                    span.label-input100 Message
                    textarea.input100(name='message', placeholder='Your message here...')
                .container-contact100-form-btn
                    button.contact100-form-btn
                        span
                            i.fa.fa-long-arrow-right.m-l-7(aria-hidden='true')
    // ===============================================================================================
    script(src='/public/vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='/public/vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='/public/vendor/bootstrap/js/popper.js')
    script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='/public/vendor/select2/select2.min.js')
    script.
        $(".js-select2").each(function(){
        $(this).select2({
        minimumResultsForSearch: 20,
        dropdownParent: $(this).next('.dropDownSelect2')
        });
        $(".js-select2").each(function(){
        $(this).on('select2:close', function (e){
        if($(this).val() == "Please chooses") {
        $('.js-show-service').slideUp();
        }
        else {
        $('.js-show-service').slideUp();
        $('.js-show-service').slideDown();
        }
        });
        });
        })
    // ===============================================================================================
    script(src='/public/vendor/daterangepicker/moment.min.js')
    script(src='/public/vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='/public/vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='/public/vendor/noui/nouislider.min.js')
    script.
        var filterBar = document.getElementById('filter-bar');
        noUiSlider.create(filterBar, {
        start: [ 1500, 3900 ],
        connect: true,
        range: {
        'min': 1500,
        'max': 7500
        }
        });
        var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
        ];
        filterBar.noUiSlider.on('update', function( values, handle ) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
        });
    // ===============================================================================================
    script(src='js/main.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
    script.
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-23581568-13');