.super_container
            header.header.d-flex.flex-row
                .header_content.d-flex.flex-row.align-items-center
                    .logo_container
                        .logo
                            img(src='/public/images/logo.png', alt='')
                            span course
    
                    nav.main_nav_container
                        .main_nav
                            ul.main_nav_list
                                li.main_nav_item
                                    a(href='/') home
                                li.main_nav_item
                                    a(href='home') Tienda
                                li.main_nav_item
                                    a(href='courses.html') Acerca de
                                li.main_nav_item
                                    a(href='elements.html') elements
                                li.main_nav_item
                                    a(href='news.html') news
                                li.main_nav_item
                                    a(href='/contactenos') contact


            .menu_container.menu_mm