extends base.pug

block  contenido
    
        doctype html
        head
        meta(charset='UTF-8')
        meta(name='description', content='')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
        // Title
        title HourGlass
        // Favicon
        link(rel='icon', href='/public/vendors/img/core-img/favicon.ico')
        // Core Style CSS
        link(rel='stylesheet', href='/public/vendors/css/core-style.css')
        link(rel='stylesheet', href='style.css')
        link(rel="stylesheet", href="/public/vendors/css/product.css")
        // ##### Header Area Start #####
        header.header_area
        p 
        p 
        p
        p 
        p
        p 
        p 
        p 
        p 
        p 

        // ##### Breadcumb Area Start #####
        .breadcumb_area.bg-img(style='background-image: url(/public/vendors/img/bg-img/breadcumb.jpg);')
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .page-title.text-center
        .container
        table
            caption Camping Costs
            thead
                tr
                    th Producto
                    th Cantidad
                    th Precio
                    th Total
            tbody
                tr
                    td Bulova
                    td 1
                    td $279.00
                    td $279.00
                tr
                    td Casio
                    td 2
                    td $159.95
                    td $319.90
                tr
                    td Diesel
                    td 2
                    td $39.50
                    td $79.00
            tfoot
                tr
                    th(colspan='3') Grand Total
                    th $667.90